@import "tailwindcss";

.scroll-content-down {
      animation: scrollUp 20s linear infinite;
}

.scroll-content-up {
      animation: scrollDown 20s linear infinite;
}

.x-scroll-content-down {
      animation: xscrollUp 10s linear infinite;
}

.x-scroll-content-up {
      animation: xscrollDown 10s linear infinite;
}

.scrollbar-hide::-webkit-scrollbar {
      display: none;
}

.scrollbar-hide {
      -ms-overflow-style: none;
      scrollbar-width: none;
}

@keyframes scrollDown {
      0% {
            transform: translateY(-50%);
      }

      100% {
            transform: translateY(0%);
      }
}

@keyframes scrollUp {
      0% {
            transform: translateY(0);
      }

      100% {
            transform: translateY(-50%);
      }
}

@keyframes xscrollDown {
      0% {
            transform: translateX(-50%);
      }

      100% {
            transform: translateX(0%);
      }
}

@keyframes xscrollUp {
      0% {
            transform: translateX(0);
      }

      100% {
            transform: translateX(-50%);
      }
}